.Bestselling{
    width:100%;
    height:821px;
    background-color: #F7F7F7;
}
.Bestselling .selling{
    max-width:1536px;
    height:100%;
    padding:70px 435px;
    margin:0px auto;
}
.Bestselling .selling .Allproducts{
    width:870px;
    padding:10px;
    height:681px;
}

.line-text {
    width: 208px;
    text-align: center;
    border-bottom: 1px solid #000000;
    line-height: 0.1em; /* yozuv pastga tushib ketmasin */
    margin: 0px auto;
  }
  
  .line-text span {
    background:#F7F7F7; /* fon oq bo‘lsa chiziq ustidan yozuv toza ko‘rinadi */
    padding: 0 10px;
  }
  
  .Allproducts .grids{
    margin:20px 10px;
    display: grid;
    row-gap:10px;
    grid-template-columns: repeat(3, 4fr)
  }
  