.Footer{
    width:100%;
    height:402px;
    background-color:#F7F7F7;
}
.Footer .footerone{
    max-width:1536px;
    
    height:100%;
    margin:0px auto;
}
.Footer .footerone span{
    display:flex;
    align-items: center;
    gap:5px;
}
.Footer .footerone span h2:nth-child(1){
    color:red;
}
.Footer .footerone span h2:nth-child(2){
    color:gray;
}
.Footer .footerone .flot1{
    display: flex;
    gap:30px;
    justify-content: space-between;
    padding:40px 135px;
}
.Footer .footerone .flot2{
    display: flex;
    align-items: center;
    padding: 0px 134px;
    justify-content: space-between;
    
}
hr{
    width:50px;
}
.Footer .footerone .flot2 .pay{
    display: flex;
    align-items: center;
    gap:10px;
}


